.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.ba-a-menu {
    -webkit-animation-name: ba-a-menu;
    animation-name: ba-a-menu;
}

@-webkit-keyframes ba-a-menu {
    from {
        left: -200%;
    }
    to {
        left: 18%;
    }
}

@keyframes ba-a-menu {
    from {
        left: -200%;
    }
    to {
        left: 18%;
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    from {
        -webkit-filter: brightness(50%);
        filter: brightness(50%);
    }
    to {
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
    }
}

@keyframes pulse {
    from {
        -webkit-filter: brightness(50%);
        filter: brightness(50%);
    }
    to {
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
    }
}

.f-blurIn {
    -webkit-animation-name: f-blurIn;
    animation-name: f-blurIn;
}

@-webkit-keyframes f-blurIn {
    from {
        -webkit-filter: blur(0vh);
        filter: blur(0vh);
    }
    to {
        -webkit-filter: blur(0.5vh);
        filter: blur(0.5vh);
    }
}

@keyframes f-blurIn {
    from {
        -webkit-filter: blur(0vh);
        filter: blur(0vh);
    }
    to {
        -webkit-filter: blur(0.5vh);
        filter: blur(0.5vh);
    }
}

.f-blurOut {
    -webkit-animation-name: f-blurOut;
    animation-name: f-blurOut;
}

@-webkit-keyframes f-blurOut {
    from {
        -webkit-filter: blur(0.5vh);
        filter: blur(0.5vh);
    }
    to {
        -webkit-filter: blur(0vh);
        filter: blur(0vh);
    }
}

@keyframes f-blurOut {
    from {
        -webkit-filter: blur(0.5vh);
        filter: blur(0.5vh);
    }
    to {
        -webkit-filter: blur(0vh);
        filter: blur(0vh);
    }
}

.slideOutRightMy {
    -webkit-animation-name: slideOutRightMy;
    animation-name: slideOutRightMy;
}

@-webkit-keyframes slideOutRightMy {
    from {
        right: -100%;
    }
    to {
        right: -200%;
    }
}

@keyframes slideOutRightMy {
    from {
        right: -100%;
    }
    to {
        right: -200%;
    }
}

.slideOutLeftMy {
    -webkit-animation-name: slideOutLeftMy;
    animation-name: slideOutLeftMy;
}

@-webkit-keyframes slideOutLeftMy {
    from {
        left: -100%;
    }
    to {
        left: 200%;
    }
}

@keyframes slideOutLeftMy {
    from {
        left: -100%;
    }
    to {
        left: 200%;
    }
}

.slideInLeftMy {
    -webkit-animation-name: slideInLeftMy;
    animation-name: slideInLeftMy;
}

@-webkit-keyframes slideInRightMy {
    from {
        right: -200%;
        visibility: visible;
    }
    to {
        right: -100%;
    }
}

@keyframes slideInRightMy {
    from {
        right: -200%;
        visibility: visible;
    }
    to {
        right: -100%;
    }
}

.slideInRightMy {
    -webkit-animation-name: slideInRightMy;
    animation-name: slideInRightMy;
}

@-webkit-keyframes slideInLeftMy {
    from {
        left: 100%;
        visibility: visible;
    }
    to {
        left: -100%;
    }
}

@keyframes slideInLeftMy {
    from {
        left: 100%;
        visibility: visible;
    }
    to {
        left: -100%;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}


@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeOutRight {
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight;
}

@-webkit-keyframes fadeOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}


.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
.glitch {
    -webkit-animation-name: glitch;
    animation-name: glitch;
}

@-webkit-keyframes glitch {
    0%{clip: rect(55px,9999px,56px,0);}
    5%{clip: rect(47px,9999px,30px,0);}
    10%{clip: rect(33px,9999px,36px,0);}
    15%{clip: rect(35px,9999px,9px,0);}
    20%{clip: rect(63px,9999px,59px,0);}
    25%{clip: rect(96px,9999px,98px,0);}
    30%{clip: rect(48px,9999px,77px,0);}
    35%{clip: rect(60px,9999px,72px,0);}
    40%{clip: rect(50px,9999px,87px,0);}
    45%{clip: rect(75px,9999px,40px,0);}
    50%{clip: rect(66px,9999px,47px,0);}
    55%{clip: rect(2px,9999px,54px,0);}
    65%{clip: rect(48px,9999px,77px,0);}
    70%{clip: rect(69px,9999px,98px,0);}
    75%{clip: rect(43px,9999px,35px,0);}
    80%{clip: rect(10px,9999px,81px,0);}
    85%{clip: rect(40px,9999px,56px,0);}
    90%{clip: rect(76px,9999px,10px,0);}
    95%{clip: rect(95px,9999px,20px,0);}
    100%{clip: rect(55px,9999px,47px,0);}
}

@keyframes glitch {
    0%{clip: rect(55px,9999px,56px,0);}
    5%{clip: rect(47px,9999px,30px,0);}
    10%{clip: rect(33px,9999px,36px,0);}
    15%{clip: rect(35px,9999px,9px,0);}
    20%{clip: rect(63px,9999px,59px,0);}
    25%{clip: rect(96px,9999px,98px,0);}
    30%{clip: rect(48px,9999px,77px,0);}
    35%{clip: rect(60px,9999px,72px,0);}
    40%{clip: rect(50px,9999px,87px,0);}
    45%{clip: rect(75px,9999px,40px,0);}
    50%{clip: rect(66px,9999px,47px,0);}
    55%{clip: rect(2px,9999px,54px,0);}
    65%{clip: rect(48px,9999px,77px,0);}
    70%{clip: rect(69px,9999px,98px,0);}
    75%{clip: rect(43px,9999px,35px,0);}
    80%{clip: rect(10px,9999px,81px,0);}
    85%{clip: rect(40px,9999px,56px,0);}
    90%{clip: rect(76px,9999px,10px,0);}
    95%{clip: rect(95px,9999px,20px,0);}
    100%{clip: rect(55px,9999px,47px,0);}
}