@media (max-width: 1600px) and (min-width: 1199px) {
    #header-flex-box {
        padding-right: 5%;
        padding-left: 5%;
        width: 90%;
    }
    #cooperate {
        width: 60%;
    }
}

@media (max-width: 1200px) {
    #header-logo-anim:before {
        left: -4px;
        opacity: .4;
        -webkit-animation: glitch 1s infinite linear;
        animation: glitch 1s infinite linear;
    }

    #header-logo-anim:after {
        left: 4px;
        opacity: 1;
        -webkit-animation: glitch 2s infinite linear;
        animation: glitch 2s infinite linear;
    }
}

@media (max-width: 1200px) {
    .box-none {
        display: none;
    }
    #header-flex-box {
        padding-right: 0;
        padding-left: 0;
        width: 100%;
    }
    .header-logo-menu-lr {
        width: 100px;
    }
    #container-works {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-box-align: center;
        align-items: center;
    }
    .works-image {
        display: none;
    }
    .works-box {
        margin-top: 0;
        margin-bottom: 18%;
        width: 100%;
        height: 40vw;
    }
    .box-link-works {
        width: 8vw;
        height: 8vw;
    }
    .box-link-works:hover {
        width: 12vw;
        height: 12vw;
    }
    .text-caption {
        font-size: 6vw;
    }
    .text-description {
        top: 102%;
        margin: 0;
        font-size: 2vw;
    }
    #header-works {
        text-align: center;
    }
    .font-works {
        margin-left: 0;
        font-size: 8vw;
    }
    .font-works:after {
        top: -0.5vw;
        left: -14vw;
        height: 14vw;
    }
    .text-button {
        font-size: 12vw;
    }
    #bottom-box {
        margin: 0 0;
        width: 100%;
        height: 11vw;
        text-align: center;
    }
}

@media (max-width: 1439px) {
    #cooperate {
        width: 60%;
    }
    #info-me {
        display: none;
    }
    #contact-menu {
        top: 20%;
    }
}

@media (max-width: 992px) {
    #menu-navigation {
        top: 8%;
        right: 0;
    }
    .li-menu {
        font-size: 2.2rem;
    }
    .contact-caption {
        margin-bottom: 4%;
        font-size: 1.4rem;
    }
    #email-box {
        bottom: 40%;
    }
    #cooperate {
        right: 0;
        bottom: 0;
        width: 80%;
    }
}

@media (max-width: 768px) {
    #header-center-box {
        width: 80%;
    }
    .title-home-box {
        font-size: 6.5rem;
    }
    #box-seemore {
        margin-top: 25%;
    }
    #menu-navigation {
        top: 8%;
        right: 0;
    }
    .li-menu {
        font-size: 2.2rem;
    }
    #contact-menu {
        top: 28%;
    }
    .contact-caption {
        margin-bottom: 4%;
        font-size: 1.4rem;
    }
    #email-box {
        bottom: 30%;
    }
    #cooperate {
        right: 0;
        bottom: 0;
        width: 80%;
    }
    #logo-menu {
        display: none;
    }
    #menu-navigation > ul {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-box-align: end;
        align-items: flex-end;
    }
    #menu-navigation > ul > li {
        margin-bottom: 5%;
        font-size: 2rem;
    }
    #back-mn {
        display: none;
    }
    #menu-navigation {
        top: 30%;
    }
    #Back-to-page {
        top: 10%;
        right: 0;
        left: unset;
        margin-top: 0;
        font-size: 1.5rem;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }
    .preload-text-box {
        display: none;
    }
    .preload-logo {
        top: 50%;
        left: 50.15%;
        z-index: 1;
        width: 200px;
        height: 200px;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 576px) {
    #header-center-box {
        width: 100%;
    }
    .title-home-box {
        font-size: 4.5rem;
    }
    #box-seemore {
        margin-top: 40%;
    }
    .title-home-box-seemore {
        font-size: 2rem;
    }
    .img-seemore {
        width: 25px;
        height: 25px;
    }
    #email-box {
        bottom: 40%;
    }
    #cooperate {
        right: 0;
        bottom: 0;
        width: 100%;
    }
    #logo-menu {
        display: none;
    }
    #contact-menu {
        top: 20%;
    }
    #menu-navigation > ul {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-box-align: end;
        align-items: flex-end;
    }
    #menu-navigation > ul > li {
        margin-bottom: 5%;
        font-size: 2rem;
    }
    #back-mn {
        display: none;
    }
    #menu-navigation {
        top: 45%;
    }
    #Back-to-page {
        top: 10%;
        right: 0;
        left: unset;
        margin-top: 0;
        font-size: 1.5rem;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }
    #container-works {
        margin-right: 10%;
        margin-left: 10%;
        width: 80%;
    }
    .works-box {
        margin-top: 0;
        margin-bottom: 30%;
        width: 100%;
        height: 50vw;
    }
    .box-link-works {
        width: 10vw;
        height: 10vw;
    }
    .box-link-works:hover {
        width: 14vw;
        height: 14vw;
    }
    .text-caption {
        font-size: 8vw;
    }
    .text-description {
        top: 106%;
        margin: 0;
        font-size: 3vw;
    }
    #header-works {
        text-align: center;
    }
    .font-works {
        position: relative;
        margin-top: 3%;
        margin-bottom: 8%;
        margin-left: 0;
        white-space: nowrap;
        font-size: 12vw;
    }
    .font-works:after {
        position: absolute;
        top: -5vw;
        left: 50vw;
        height: 24vw;
    }
    .text-button {
        font-size: 15vw;
    }
    #bottom-box {
        height: 14vw;
        text-align: center;
    }
}