img {
    vertical-align: bottom;
}

#header-works-child {
    z-index: 9;
    letter-spacing: 3px;
}

#main {
    align-items: center;
}

.font-works-child {
    color: white;
    font-size: 450%;
}

#container-works-child {
    width: 60%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.text-description-child {
    top: 100%;
    margin-top: 1%;
    margin-left: 4%;
    color: white;
    font-size: 100%;
    line-height: 1.4em;
}