* {
    font-family: Roboto, "Century Gothic", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

::-moz-selection {
    background: rgba(0, 0, 0, 0.75);
}

::selection {
    background: rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar {
    display: none;
}

li,
ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    text-decoration: none;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}

a:visited,
a:link {
    color: #ffffff;
}

a:hover {
    color: #5c29ff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.obj-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

.p-fixed {
    position: fixed;
}

.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.box-flex-end {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.mt-15 {
    margin-top: 15%;
}

.mt-10 {
    margin-top: 10%;
}

.mb--10 {
    margin-bottom: -10%;
}

.li-line {
    vertical-align: middle;
}

.text-upper {
    text-transform: uppercase;
}

.font-16 {
    font-size: 1.3rem;
}

.font-20 {
    font-size: 2.5rem;
}

.font-light {
    font-weight: 100;
}

.font-bold {
    font-weight: 900;
}

.font-italic {
    font-style: italic;
}

.justify-content-end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.justify-content-start {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.ml-2p {
    margin-left: 2%;
}

.mr-2p {
    margin-right: 2%;
}

.l-75 {
    left: 7.5rem;
}

.r--15 {
    right: -1.5rem;
}

.left-fix {
    left: -100%;
}

.right-fix {
    right: -100%;
}

.left-fix-menu {
    left: -100%;
}

.right-fix-menu {
    right: -100%;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.not-touch {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll-block {
    overflow: hidden;
}

.loaded .right-fix {
    -webkit-transform: translate(100%);
    -ms-transform: translate(100%);
    transform: translate(100%);
}

.loaded .left-fix {
    -webkit-transform: translate(-100%);
    -ms-transform: translate(-100%);
    transform: translate(-100%);
}

.loaded #preload-flex {
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.loaded .preload-logo {
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.loaded #preload {
    visibility: hidden;
}

#preload-flex {
    -ms-flex-pack: center;
    -ms-flex-align: center;
    margin-right: 25%;
    margin-left: 25%;
    width: 50%;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.text-preload {
    color: white;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

.preload-text-box {
    margin-right: 100px;
    margin-left: 100px;
}

#preload {
    z-index: 9933;
}

.preload-logo {
    top: 50%;
    left: 50.15%;
    z-index: 1;
    width: 150px;
    height: 150px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.preload-bg {
    width: 150%;
    border-width: 0 2px;
    border-style: solid;
    border-color: #515151;
    background-color: #161616;
    -webkit-transition: 2s 0.5s;
    -o-transition: 2s 0.5s;
    transition: 2s 0.5s;
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg);
}

#contact-menu ul > li {
    position: relative;
}

#contact-menu ul > li > a::before {
    position: absolute;
    top: 50%;
    left: -200%;
    z-index: -1;
    padding: .8rem 12rem .8rem 1.2rem;
    width: .1rem;
    height: 1.5rem;
    background-image: -webkit-gradient(linear,
    left top, left bottom,
    from(rgb(255, 255, 255)),
    to(rgb(255, 255, 255))),
    -webkit-gradient(linear, left top, left bottom, from(rgb(35, 35, 35)), to(rgb(35, 35, 35)));
    background-image: -webkit-linear-gradient(top,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 100%),
    -webkit-linear-gradient(top, rgb(35, 35, 35) 0%, rgb(35, 35, 35) 100%);
    background-image: -o-linear-gradient(top,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 100%),
    -o-linear-gradient(top, rgb(35, 35, 35) 0%, rgb(35, 35, 35) 100%);
    background-image: linear-gradient(to bottom,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 100%),
    linear-gradient(to bottom, rgb(35, 35, 35) 0%, rgb(35, 35, 35) 100%);
    background-clip: content-box, padding-box;
    content: '';
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: skew(-45deg) translate(-50%, -50%);
    -ms-transform: skew(-45deg) translate(-50%, -50%);
    transform: skew(-45deg) translate(-50%, -50%);
}

#contact-menu ul > li > a:first-child:hover::before {
    color: white;
    -webkit-animation-name: ba-a-menu;
    animation-name: ba-a-menu;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#contact-menu ul > li > a:hover {
    color: #c2c2c2;
}

#content-menu-box {
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 90%;
}

#cooperate {
    right: 5%;
    bottom: 0;
    -ms-flex-pack: end;
    -ms-flex-align: end;
    width: 30%;
    color: white;
    text-align: right;
    font-size: 15px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    align-items: flex-end;
}

#email-box {
    bottom: 20%;
    -ms-flex-pack: start;
    -ms-flex-align: start;
    color: white;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
}

#contact-menu {
    top: 12%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    -ms-flex-align: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
}

#menu-navigation {
    top: 5%;
    right: 5%;
}

#Back-to-page {
    top: 50%;
    left: 50%;
    margin-top: 120px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#logo-menu {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.li-menu {
    display: list-item;
    margin-bottom: 5%;
    list-style-type: none;
}

#menubox {
    z-index: 9922;
    visibility: hidden;
}

.menu-bg {
    width: 150%;
    border-width: 0 2px;
    border-style: solid;
    border-color: #515151;
    background-color: #161616;
    -webkit-transition: 2s 0.5s;
    -o-transition: 2s 0.5s;
    transition: 2s 0.5s;
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg);
}

#about-me {
    top: 50%;
    left: 50%;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    padding: 40px;
    min-width: 400px;
    background-color: #161616;
    color: #848484;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

#aboutbox {
    z-index: 9922;
    visibility: hidden;
}

#info-me {
    top: 42%;
    right: 6%;
    -ms-flex-align: center;
    color: #848484;
    -webkit-box-align: center;
    align-items: center;
}

.info-me-font {
    color: white;
    font-size: 4rem;
}

#back-mn {
    bottom: -7px;
    left: -25px;
    z-index: -1;
    color: #262626;
    font-weight: 900;
    font-size: 2.8rem;
}

.contact-caption {
    margin-bottom: 4%;
    color: #8e8e8e;
    font-size: 1.8rem;
}

#main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    background-color: #161616;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

#header-works {
    margin: 3% 15% 0;
    width: 70%;
    letter-spacing: 3px;
}

#bottom-box {
    margin: 0 15%;
    width: 70%;
    height: 10vw;
    text-align: center;
}

.a-contact:visited,
.a-contact:link {
    color: #232323;
}

.a-contact:hover {
    color: rgb(47, 47, 47);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.text-button {
    color: #232323;
    white-space: nowrap;
    font-size: 8vw;
}

#container-works {
    -ms-flex-pack: distribute;
    -ms-flex-align: start;
    margin-right: 15%;
    margin-left: 15%;
    padding-bottom: 10%;
    width: 70%;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    align-items: flex-start;
}

.works-box {
    width: 48%;
    height: 20vw;
}

.works-logo {
    bottom: 0;
    left: 50%;
    margin: auto;
    padding-top: 10vw;
    width: 10vw;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.works-logo-text {
    margin: auto;
    padding-top: 10vw;
    width: 80%;
    height: 10vw;
}

.text-logo {
    color: #232323;
    text-align: center;
    font-size: 4vw;
}

.text-caption {
    top: 83%;
    left: -8%;
    color: white;
    font-size: 3vw;
}

.text-description {
    top: 104%;
    left: -2%;
    margin: 0;
    color: white;
    font-size: 1vw;
    line-height: 1.4em;
}

.box-link-works {
    right: 0;
    bottom: 0;
    width: 3vw;
    height: 3vw;
    background-image: url("../src/svg/link-but.svg");
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.box-link-works:hover {
    right: 0;
    bottom: 0;
    width: 4.5vw;
    height: 4.5vw;
}

.font-works {
    margin-left: 2%;
    color: white;
    font-size: 5vw;
}

.font-works:after {
    position: relative;
    top: -0.5vw;
    left: -9vw;
    display: inline-block;
    margin: 0 15px;
    width: 0.1vw;
    height: 9vw;
    background: rgb(255, 255, 255);
    content: "";
    vertical-align: middle;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.line30 {
    margin: 0;
    width: 30px;
    height: 1px;
    border: 0;
    background-color: #ffffff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#header-flex-box {
    z-index: 999;
    -ms-flex-pack: distribute;
    -ms-flex-align: center;
    padding-right: 16%;
    padding-left: 16%;
    width: 68%;
    height: 15%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgba(246, 41, 12, 0)));
    background: -webkit-linear-gradient(top, rgb(0, 0, 0) 0%, rgba(246, 41, 12, 0) 100%);
    background: -o-linear-gradient(top, rgb(0, 0, 0) 0%, rgba(246, 41, 12, 0) 100%);
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(246, 41, 12, 0) 100%);
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
}

#header-center-box {
    -ms-flex-pack: center;
    -ms-flex-align: center;
    width: 40%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.header-box-rl {
    -ms-flex-align: center;
    width: 16rem;
    height: 4rem;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.header-box-rl {
    white-space: nowrap;
}

#header-logo {
    min-width: 6rem;
    min-height: 6rem;
    width: 100px;
    height: 100px;
}

.back-nav-div {
    width: 13rem;
    height: 2.5rem;
}

.back-header {
    background: #232323;
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg);
}

.main-box {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.filter-img {
    -webkit-filter: brightness(65%);
    filter: brightness(65%);
    -webkit-transition: 0.8s ease-out;
    -o-transition: 0.8s ease-out;
    transition: 0.8s ease-out;
}

.filter-img:hover {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.div-home-text {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title-home-box {
    color: white;
    text-align: center;
    font-size: 7rem;
}

.title-home-box-seemore {
    color: white;
    font-size: 3rem;
}

.img-seemore {
    width: 50px;
    height: 50px;
}

#slider-wrapper {
    -webkit-filter: brightness(75%);
    filter: brightness(75%);
}

.slide {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

#slider-nav {
    bottom: 10%;
    width: 100%;
    text-align: center;
}

.slider-nav-item {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider-nav-item input {
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    display: inline-block;
    margin: 0 15px;
    width: 4px;
    height: 10px;
    background-color: #ffffff;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg);
}

.slider-nav-item:hover input ~ .checkmark {
    width: 7px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.slider-nav-item input:checked ~ .checkmark {
    width: 20px;
}

#box-seemore {
    -ms-flex-pack: center;
    -ms-flex-align: center;
    margin-top: 6rem;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

#anchor {
    bottom: -1vw;
    left: 40%;
    z-index: 999;
    width: 20%;
    height: 3rem;
}

#anchor-hr {
    width: 40px;
    height: 5px;
    border: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(#8739e5), to(#5496ff));
    background-image: -webkit-linear-gradient(left, #8739e5, #5496ff);
    background-image: -o-linear-gradient(left, #8739e5, #5496ff);
    background-image: linear-gradient(90deg, #8739e5, #5496ff);
    -webkit-filter: brightness(75%);
    filter: brightness(75%);
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

#anchor-hr:hover {
    width: 100px;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.ul-flex {
    z-index: 1;
    -ms-flex-pack: end;
    -ms-flex-align: baseline;
    white-space: nowrap;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: baseline;
    align-items: baseline;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.ul-flex li {
    margin-right: 1vw;
    margin-left: 1vw;
}

.f-white {
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.be-logo {
    margin-right: 2%;
}

.be-info {
    margin-top: 10px;
    width: 400px;
    text-align: center;
    font-size: 0.8rem;
}

.m-l-05 {
    margin-left: .5%;
}

#header-logo-anim {
    position: relative;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

#header-logo-anim:before, #header-logo-anim:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    content: url("../src/svg/logo.svg");
    opacity: 0;
}

#header-logo-anim:hover::before {
    left: -4px;
    opacity: .4;
    -webkit-animation: glitch 1s infinite linear;
    animation: glitch 1s infinite linear;
}

#header-logo-anim:hover::after {
    left: 4px;
    opacity: 1;
    -webkit-animation: glitch 2s infinite linear;
    animation: glitch 2s infinite linear;
}

#openAbout:hover, #openMenu:hover, #closeAbout:hover {
    color: #c1c1c1;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#closeAbout:hover, #close:hover {
    color: #5c29ff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#openMenu:before, #openAbout:after {
    display: inline-block;
    margin: 0;
    width: 30px;
    height: 1px;
    border: 0;
    background-color: #ffffff;
    content: "";
    vertical-align: middle;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}